@import "vars.css";

.phone {
  position: absolute;
  width: inherit;
  padding-bottom: 100%;
  border-radius: 6vh;
  background: linear-gradient(0deg, #6b007e 0%, #00188a 100%);
  transform: translateY(-50%) scale(0.5) rotateX(50deg) rotateZ(45deg);
  box-shadow: 1rem 1rem 1rem 0 rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;

  & .frame {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6vh;
    transform: translateY(-3vh) translateX(-3vh);
    background: linear-gradient(0deg, #ff00dd 0%, #00aeff 100%);

    & .top {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 5.4vh;
      transform: scaleX(0.97) scaleY(0.99);
      background: linear-gradient(0deg, #9c00b8 0%, #1639d0 100%);

      & .screen {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4.8vh;
        transform: scaleX(0.88) scaleY(0.94);
        background: linear-gradient(0deg, #4ee8f3 0%, #e3faff 50%, #4ee8f3 100%);

        & .notch {
          position: absolute;
          width: 60%;
          margin-left: 20%;
          margin-top: -4%;
          height: 6%;
          border-radius: 4vh;
          background: linear-gradient(0deg, #9c00b8 -500%, #1639d0 100%);

          & .line {
            position: absolute;
            width: 50%;
            margin-left: 20%;
            margin-top: 6%;
            height: 20%;
            border-radius: 4vh;
            background-color: #00ccff;
          }

          & .dot {
            position: absolute;
            width: 6%;
            height: 20%;
            margin-left: 74%;
            margin-top: 6%;
            border-radius: 4vh;
            background-color: #00ccff;
          }
        }
      }
    }
  }
}