@import "vars.css";

.wrapper {
  position: relative;
  padding-top: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  width: 48%;
  min-height: 60vh;
  padding: 2rem 0;
  border: 1px red solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 48%;
  height: 100%;
  border: 1px red solid;
}

.button {
  display: inline-block;
  width: auto;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  background-color: var(--color-secondary);
  color: white;
}

.image-offset {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(0) translateX(2%);
}

@media (max-width: 960px) {
  .wrapper {
    flex-direction: column;
    align-items: start;
  }

  .title {
    width: 75%;
    min-height: 20vw;
  }

  .image {
    width: 100%;
    min-height: 53vw;
  }
  .image-offset {
    transform: translateY(-10vw);
  }
}


@media (max-width: 600px) {
  .title {
    text-align: center;

    width: 100%;
  }
  .image {
    min-height: 75vw;
  }
  .image-offset {
    transform: translateY(0);
  }
  .button {
    text-align: center;
    display: block;
    width: 50%;
  }
}
