@import "vars.css";

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  width: 48%;
  min-height: 70vh;
  border: 1px red solid;
}

.image {
  width: 48%;
  height: 100%;
  border: 1px red solid;
}

@media (max-width: 960px) {
  .wrapper {
    flex-direction: column;
  }

  .title {
    width: 100%;
    min-height: 60vw;
  }

  .image {
    width: 100%;
    min-height: 62vw;
  }
}


@media (max-width: 600px) {
  .image {
    min-height: 75vw;
  }
}
