@import "vars.css";

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding: 0;
  z-index: 100;
}

.left {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;

  & p {
    padding-left: 0;
  }
}

.logo {
  position: absolute;
  max-height: 4rem;
  height: 100%;
  width: 4rem;
  left: -4rem;
  padding: 0.25rem 0;

  & svg {
    height: 100%;
    width: 100%;
    fill: var(--color-secondary);
  }
}

.right {
  width: auto;
  display: flex;
  justify-content: space-between;

  & p {
    padding: 0 0.6rem 0 0.6rem;

    &:last-child {
      padding: 0 0 0 0.6rem;
    }
  }

  & a {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    padding: 0.25rem;
    text-decoration: none;
    color: var(--text-primary);
    transition: color 0.5s ease, border-color 1s ease;

    &:hover {
      color: var(--color-secondary);
      border-color: var(--color-secondary);
    }
  }
}

p {
  padding: 0;
  margin: 0;
}

@media (max-width: 1300px) {
  .left p {
    padding-left: 0.8rem;
  }
  .logo {
    position: relative;
    left: 0;
    width: auto;


  }
}

@media (max-width: 960px) {
}

@media (hover: none) {
  .right p a:hover {
    color: var(--text-primary);
    border-color: rgba(0, 0, 0, 0);
  }
}
