@import "vars.css";

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 2rem 0;
}

.background {
  z-index: -1;
  width: 100%;
  height: auto;
  top: -2rem;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;

  & .bgfill {
    width: 100%;
    height: 100%;
    background-color: var(--background-secondary);
  }

  & .vector {
    transform: translateY(5px);
  }

  & svg {
    margin: 0;
    padding: 0;

    & g {
      fill: var(--background-secondary);
    }
  }
}

.container {
  width: 32%;
  margin: 0 0 2% 0;
  background-color: white;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  padding: 2rem 1rem 1rem 1rem;

  &:nth-child(even) {
    box-shadow: unset;
    background-color: unset;
  }

  & img {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  & svg {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    fill: var(--color-secondary);
    filter: drop-shadow( 0.5rem 0 0 var(--color-primary-light));

  }

  & .breakline {
    display: none;
    height: 1px;
    width: 100%;
    margin: 1rem 0 2rem 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 960px) {
  .container {
    width: 49%;

    &:nth-child(even) {
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
      background-color: white;
    }

    &:nth-child(4n-7) {
      box-shadow: unset;
      background-color: unset;
    }

    &:nth-child(4n-8) {
      box-shadow: unset;
      background-color: unset;
    }
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0;
    margin: 0;

    &:nth-child(n) {
      box-shadow: unset;
      background-color: unset;
    }

    & .breakline {
      display: block;
    }

  }
}
