@import 'vars.css';

.section {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--max-width);
  padding: 0 1rem;
  margin: 0 auto;
}